/* Product Detail */
.product-detail {
  width: 90%;
  height: 95vh;
  background: white;
  border-radius: 30px;
  position: sticky;
  top: 10px;
  z-index: 1000;
  box-sizing: border-box;
  padding: 3% 6% 5%;
  display: none;
  overflow: scroll;
  margin: 0 auto;
}

.card-visible {
  display: block;
}

.top {
  display: flex;
  justify-content: space-between;
}

.modal-head {
  color: black;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.cross {
  width: 25.61px;
  height: 25.61px;
  cursor: pointer;
}

.product {
  margin-top: 44.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-product-img {
  width: 40%;
}

#large-image {
  width: 100%;
  height: 50%;
  margin-left: -10px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.small-image {
  margin-left: -10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cushion-image {
  width: 30%;
  height: 30%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cart-button {
  width: 100%;
  height: 79.52px;
  background: #baa0b6;
  border: none;
  color: white;
  font-size: 30px;
  font-family: Cormorant Garamond;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 40px;
  margin-left: -12px;
  cursor: pointer;
}

.modal-product {
  width: 55%;
}

.product-name {
  color: #615060;
  font-size: 36px;
  font-family: Cormorant Garamond;
  font-weight: 700;
  word-wrap: break-word;
}

.product-price {
  color: #707070;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 15px;
}

.product-description {
  width: 90%;
  margin-top: 22.72px;
}

.product-header {
  color: black;
  font-size: 25px;
  font-family: Cormorant Garamond;
  font-weight: 600;
  word-wrap: break-word;
}

.product-content {
  color: black;
  font-size: 20px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.color {
  color: black;
  font-size: 25px;
  font-family: Cormorant Garamond;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 10px;
}

.colors {
  margin-top: 13.5px;
  display: flex;
}

.blue-color,
.gray-color,
.black-color,
.green-color,
.pink-color {
  width: 32.2px;
  height: 32.2px;
  margin-right: 17.04px;
}

.blue-color {
  background-color: #0659a4;
}

.gray-color {
  background-color: #b3b5b4;
}

.black-color {
  background-color: #6a6970;
}

.pink-color {
  background-color: #cd9f99;
}

.green-color {
  background-color: #818467;
}

.delivery-option {
  margin-top: 29.52px;
  display: flex;
  align-items: center;
}

.deliver-head {
  color: #615060;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

img[alt="vehicle"] {
  width: 30.47px;
  height: 21.9px;
  margin-left: 10.47px;
}

.pincode {
  box-sizing: border-box;
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8.57px;
  background: white;
  border: 1px #e1e1e1 solid;
  padding-left: 17.14px;
}

.pincode div:first-of-type {
  color: #dddddd;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

.pincode div:last-of-type {
  color: #d1d1d1;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
  margin-right: 10px;
}

.rating {
  width: 55%;
  height: 147.7px;
  margin-top: 29.52px;
}

@media (max-width: 900px) {
  #large-image {
    height: 35%;
  }

  .product-description {
    width: 100%;
  }

  .cart-button {
    font-size: 18px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .product-detail {
    padding: 5% 6%;
  }

  .product {
    flex-direction: column;
    align-items: center;
  }

  .modal-product {
    width: 100%;
    margin-top: 25px;
  }

  .modal-product-img {
    width: 100%;
    margin: 0 auto;
  }

  .pincode {
    width: 100%;
  }

  .rating {
    width: 100%;
  }
}
