@media (max-width: 1200px) {
  body {
    font-size: 15px;
  }
  .socials {
    width: 15%;
  }
  .description-img {
    height: 350px;
  }
  .desc-description {
    font-size: 18px;
  }
  .header {
    height: 650px;
  }
  .header-content {
    max-width: 900px;
  }
  .cushion {
    width: 550px;
    height: 400px;
    left: 55px;
  }
  .buynow-rect {
    width: 270px;
    height: 270px;
    right: 55px;
  }
  .new,
  .buy {
    font-size: 16px;
  }
  .heading {
    font-size: 32px;
    margin: 10px 0 10px;
    line-height: 45px;
  }
  .arrow {
    top: 92px;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 14px;
  }
  footer {
    padding: 30px 4%;
  }
  .footer-logo {
    width: 15%;
  }
  .footer-texts {
    width: 70%;
    font-size: 16px;
  }
  .socials {
    width: 20%;
  }
  .social {
    width: 30px;
    height: 30px;
  }
  .weight {
    font-size: 14px;
  }
  .arrow-up {
    right: 10px;
    width: 40px;
    height: 30px;
  }
  .shipping {
    padding: 4%;
  }
  .logo-header {
    font-size: 18px;
  }
  .logo-tag {
    font-size: 14px;
  }
  img[alt="shopping"] {
    width: 35%;
    margin-bottom: 18px;
  }
  .newsletter {
    margin-bottom: 10px;
  }
  .plain-box {
    width: 150px;
    height: 50px;
    font-size: 18px;
  }
  .color-box {
    font-size: 18px;
  }
  .form {
    padding: 8% 4%;
  }
  .form-text {
    font-size: 18px;
  }
  .user-info {
    width: 70%;
  }
  .content-container {
    padding: 8% 5%;
  }
  .card-name {
    font-size: 16px;
  }
  .card-price {
    font-size: 14px;
  }
  .description-text-button {
    width: 150px;
    height: 50px;
  }
  .link {
    height: 80px;
    padding-left: 10px;
    padding-top: 8px;
  }
  .link-head {
    font-size: 18px;
    line-height: 20px;
  }
  .learn {
    font-size: 16px;
  }
  .description {
    font-size: 18px;
  }
  .header {
    height: 500px;
  }
  .header-content {
    padding-top: 50px;
    display: block;
  }
  .cushion {
    max-width: 100%;
    width: 100vw;
    left: 0;
    object-fit: cover;
  }
  .buynow-rect {
    width: 200px;
    height: 200px;
    padding-left: 20px;
    right: 0;
    top: -300px;
    margin: 0 auto;
    padding-top: 1px;
  }
  .new {
    margin-top: 45px;
  }
  .new,
  .buy {
    font-size: 14px;
  }
  .heading {
    font-size: 24px;
    margin: 5px 0 5px;
    line-height: 35px;
  }
  .arrow {
    top: -200px;
  }
  .navbar {
    height: 80px;
    padding: 25px 55px;
  }
  .logo {
    width: 70px;
    height: 40px;
  }
  .tabs {
    width: 400px;
  }
  .active-state {
    top: 37px;
    width: 80px;
  }
  .home-tab,
  .about-tab,
  .product-tab,
  .contact-tab {
    font-size: 18px;
  }
  .dropdown::before {
    right: 15px;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 30px 2%;
  }
  .social {
    width: 25px;
    height: 25px;
  }
  .footer-texts {
    font-size: 14px;
    width: 75%;
  }
  .weight {
    font-size: 12px;
  }
  img[alt="shopping"] {
    width: 25%;
  }
  .logo-header {
    font-size: 16px;
  }
  .logo-tag {
    font-size: 12px;
  }
  .plain-box {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .color-box {
    font-size: 14px;
  }
  .form {
    flex-direction: column;
    gap: 40px;
  }
  .user-info {
    width: 100%;
  }
  .talk {
    width: 50%;
  }
  .card {
    width: 100%;
  }
  .card-list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
  }
  .beginnings {
    flex-direction: column-reverse;
  }
  .career {
    flex-direction: column;
  }
  .description-text {
    margin-top: 20px;
    width: 100%;
  }
  .description-img {
    width: 100%;
    height: 250px;
  }
  .links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .link-div {
    width: 100%;
  }
  .link {
    height: 100px;
    padding-left: 20px;
  }
  .link-head {
    padding-top: 20px;
    font-size: 24px;
  }
  .navbar {
    padding: 25px 20px;
  }
  .logo {
    width: 55px;
    height: 35px;
  }
  .tabs {
    width: 250px;
  }
  .active-state {
    width: 40px;
    left: -4px;
  }
  .home-tab,
  .about-tab,
  .product-tab,
  .contact-tab {
    font-size: 14px;
  }
  .cart {
    width: 18px;
    height: 18px;
  }
  .badge {
    width: 12px;
    height: 12px;
    font-size: 10px;
    padding-top: 0;
    top: -6px;
    right: -6px;
  }
  .dropdown {
    width: 300px;
    height: 200px;
    right: 10px;
  }
  .dropdown::before {
    right: 5px;
    border-width: 10px;
    top: -20px;
  }
  .product-desc div:first-of-type {
    font-size: 14px;
  }
}

@media (max-width: 476px) {
  .shipping {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10% 4%;
  }
  .shopping {
    width: 100%;
  }
  img[alt="shopping"] {
    width: 40%;
  }
  .logo-header {
    font-size: 24px;
  }
  .logo-tag {
    font-size: 18px;
  }
}